$grass_green: #87b061;
$apple_green: #bfdd87;
$sun_yellow: #f2ce63;
$forest_green: #027252;
$earth_brown: #ba7438;
$walnut_brown: #693d31;
$mellon_red: #f26666;

* {
 box-sizing: border-box;
}

.section_item {
 height: 250px;
 background: url("assets/img/adam-griffith-188558-unsplash.jpg") no-repeat
  center;
 background-size: cover;
 padding: auto;

 color: #fff;
 font-size: 50px;
 font-weight: bold;
 text-align: center;
 //  vertical-align: middle;
 //  display: inline-block;
 line-height: 250px;
}
