.camp_card {
  flex-basis: 49%;
  flex-shrink: 0;
  border: 1px solid #ccc;
}
@media (max-width: 768px) {
  .camp_card {
    flex-basis: 100%;
  }
}
.campsite_img_wrap {
  width: 100%;
  height: 240px;
  position: relative;
}
.img_main {
  width: 60%;
  border-right: 1px solid transparent;
}
.img_main img,
.img_sec img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  display: block;
}
.img_sec_wrap {
  width: 40%;
}
.img_sec {
  width: 100%;
  height: 50%;
}
.img_sec:nth-child(2) {
  border-top: 1px solid transparent;
}
.campsite_info {
  /* border: 1px solid #ccc; */
}
.campsite_info_main {
  margin-right: auto;
  padding: 1rem;
}
.campsite_info_price {
  align-self: flex-end;
  padding: 1rem;
}
.like_btn {
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  padding: 0.25rem;
  display: inline-block;
  width: 2rem;
  height: auto;
  text-align: center;
}
.camp_loca {
  font-size: 1rem;
  color: #87b061;
}
.camp_name {
  font-size: 1.5rem;
}
.price_main {
  font-size: 1.25rem;
  font-weight: bold;
  color: #f26666;
}
.camp_feature {
  font-size: 1rem;
}
